#game-rules{
  padding: 15px;
  border: 2px solid black;
}

#game-number{
  margin-top: 75px;
  padding: 15px;
  border: 2px solid black;
}

#game{
  margin-top: -20px;
  padding: 5px;
}

.guardian{
  margin: 5px;
  width: 165px;
  height: auto;
}

.power{
  margin-top: 20px;
  background: #82233f;
}
